HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IDE ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
.idea
*.iws
*.iml
*.ipr
out/
.vscode/

### Local secrets ###
.env
src/main/resources/application-local.yml
